@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  font-family: "Lexend", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

h1 {
  color: rgb(255, 255, 255);
}
h2 {
  color: rgb(255, 255, 255);
}
h4 {
  color: rgb(255, 255, 255);
}